:root {
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    --ftwgt-500: 500;
    --ftwgt-600: 600;
}

html {    
    font-family: "Barlow Semi Condensed", sans-serif;      
    font-size: 13px;
}

body {
    display: flex;
    min-width: 320px;
    place-items: center;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    background-color: var(--grey-100);
}

/* COMPOSITION */

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, max-content);
    gap: 30px;
    width: 310px;
    height: auto;
    margin: 75px auto;    
}

.tes-container1 {
    grid-row: span 2 / span 2;
    background-color: var(--purple-500);
    
}

.tes-container2 {
    grid-row-start: 3;
    background-color: var(--grey-500);
    
}

.tes-container3 {
    grid-row-start: 4;
    background-color: var(--white);
    
}

.tes-container4 {
    grid-row: span 2 / span 2;
    grid-row-start: 5;
    background-color: var(--black);
    
}

.tes-container5 {
    grid-row: span 2 / span 2;
    grid-row-start: 7;
    background-color: var(--white);
    
}

.tes-container1,
.tes-container2,
.tes-container3,
.tes-container4,
.tes-container5 {
    border-radius: 8px;
    box-shadow: 50px 75px 50px 3px var(--grey-200);
}

.tes-content {
   margin: 20px 35px 32px 35px;   
}

.tes-profile {
    display: inline-flex;
    height: 45px;
    margin-top: 5px;
}

.tes-fulltext {
    margin-top: -5px;
}

.profile-data p {
    margin: 5px 20px 0px 20px;
}

img {   
    border-radius: 50px;
    width: 92%;
    height: 60%;  
    object-fit: cover;
    margin: 5px auto;     
}

blockquote {
    margin: 10px 10px 0px 0px;
    font-size: 1.5rem;
}

footer {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: var(--grey-100);
}


/* UTILITIES */

.light-f {
    color: var(--white); 
}

.light-f2 {
    color: var(--purple-50);
}

.dark-f {
    color: var(--grey-400);
}

.medium-f {
    color: var(--grey-200);
}

.lh1 {
    line-height: 1.5;
}

#border1 {
    border: 2px solid var(--purple-300);
}

#border2 {
    border: 2px solid var(--grey-200);
}

#border3 {
    border: 2px solid var(--white);
}

#border4 {
    border: 2px solid var(--purple-500);
}

#border5 {
    border: 2px solid var(--white);
}

.bold {
    font-weight: var(--ftwgt-500);
}

.bold2 {
    font-weight: var(--ftwgt-600);
}

.occupation {
    margin: 2px 20px 0px 20px !important;
    font-size: 0.85em;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* BLOCKS */






/* EXCEPTIONS */